

#nav {
   
    background-color: #FF764E, #5ED3EB, #FFCD69;
}

img {
    height: 300px;
    width: fit-content;
    
    
}
h1 {
    font
}

#welcome {
    font-family: Roboto Mono ;
    color: blue;
}

* {
    font-family: Chelsea Market;
}