
h1 {
    font-family: Chelsea Market;
}

nav {
    width: 75%;
    height: 10vh;
    top: 0;
    bottom: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}

.nav1 {
    background-color: #FF764E
}

.nav2 {
    background-color: #5ED3EB

}

.nav3 {
    background-color: #FFCD69
}

img {
    margin-right: auto;
    height: 300px;
    width: fit-content;
    border-radius: 50%;

    
    
}
h1 {
    font
}

.f1 {
    background-color: #FF764E;
}

.f2 {
    background-color: #5ED3EB
}

.f3 {
    background-color: #FFCD69;
}

.Bold {
    font-weight: 600;
}

body {
    background-color: #DDB9A3;
}

footer {
    background-color: #F9E7DC;
    justify-content: space-between;
    width: 75%;
    border-radius: 2rem;
}